* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.background {
  width: 100%;
  height: 100vh;
  background-image: url(images/water-background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.Name {
  font-size: 40px;
  color: whitesmoke;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5px;
}

.navbar {
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  justify-content: center;

  /* background-color: #37718e; */
}
header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}
header nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0 20px 0 0;
  font-size: 20px;
}
header nav ul li a:hover {
  opacity: 0.5;
}

.content {
  color: #fbfcfd;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  /* margin-left: 40px;
  margin-right: 20px; */
  flex-direction: column;
}
.content p {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

h1 {
  font-size: 55px;
  margin: 10px 0 10px;
  line-height: 80px;
  text-align: center;
}

.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
}
.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}
/* Projects section */
.projects-header {
  display: flex;
  background-color: #052c3f;
  height: 60px;
  color: #fbfcfd;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.projects div {
  border: 1px #ccc solid;
  padding: 10px;
}

.projects {
  display: flex;
  background-color: #05405e;
  justify-content: space-around;
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.project1 {
  width: 85%;
  background-color: #1a1a1a;
  overflow: hidden;
  margin: 5%;
}
.project1 img {
  width: 100%;
}
.project1 p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.project1 h4,
p {
  color: #fbfcfd;
}
.links1 a {
  color: whitesmoke;
  font-weight: 4;
  text-decoration: none;
  font-size: 20px;
}
.links1 a:hover {
  opacity: 0.5;
}
.code1:visited {
  opacity: 0.5;
}
.live1:visited {
  opacity: 0.5;
}
.live1 {
  /* border: 1px whitesmoke solid; */
  background-color: #05405e;
  margin-right: 5px;
  padding: 5px;
}
.code1 {
  background-color: rgb(121, 4, 43);
  margin-right: 5px;
  padding: 5px;
}
.project2 {
  width: 85%;
  background-color: #1a1a1a;
  overflow: hidden;
  margin: 5%;
}
.project2 img {
  width: 100%;
}
.links2 a {
  color: whitesmoke;
  font-weight: 4;
  text-decoration: none;
  font-size: 20px;
}
.live2 {
  /* border: 1px whitesmoke solid; */
  background-color: #05405e;
  margin-right: 5px;
  padding: 5px;
}
.code2 {
  background-color: rgb(121, 4, 43);
  margin-right: 5px;
  padding: 5px;
}
.links2 a:hover {
  opacity: 0.5;
}
.code2:visited {
  opacity: 0.5;
}
.live2:visited {
  opacity: 0.5;
}
.project2 p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.project2 h4,
p {
  color: #fbfcfd;
}
.project3 {
  width: 85%;
  background-color: #1a1a1a;
  overflow: hidden;
  margin: 5%;
}
.project3 p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.project3 img {
  width: 100%;
}
.project3 h4,
p {
  color: #fbfcfd;
}
/* about me section */
.about-me-header {
  display: flex;
  background-color: #052c3f;
  height: 60px;
  color: #fbfcfd;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.about-me div {
  border: 1px #ccc solid;
  padding: 10px;
}
ul {
  line-height: 2;
}
.about-me {
  display: flex;
  background-color: #05405e;
  justify-content: space-around;
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  color: whitesmoke;
  border-bottom: 1px white solid;
}
.intro {
  width: 85%;
  background-color: #05405e;
  overflow: hidden;
  margin: 5%;
}
.me h4 {
  text-decoration: underline;
}
.me {
  width: 85%;
  background-color: #05405e;
  overflow: hidden;
  margin: 5%;
  line-height: 2;
}
.me ul li {
  list-style-type: circle;
}
.services {
  width: 85%;
  background-color: #05405e;
  overflow: hidden;
  margin: 5%;
}
.services h4 {
  text-decoration: underline;
}
.form a {
  background-color: #052c3f;
  color: whitesmoke;
  text-decoration: none;
}
.form a:hover {
  opacity: 0.5;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.footer-header {
  display: flex;
  background-color: #052c3f;
  height: 60px;
  color: #fbfcfd;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.footer {
  display: flex;
  background-color: #05405e;
  justify-content: space-around;
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  color: whitesmoke;
  border-bottom: 1px white solid;
}
.form {
  width: 85%;
  background-color: transparent;
  overflow: hidden;
  margin: 5%;
  display: flex;
  justify-content: center;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.socials-list {
  list-style: none;
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  animation-delay: 3s;
}
.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.bubbles img:nth-child(6) {
  animation-delay: 6s;
}
.bubbles img:nth-child(7) {
  animation-delay: 7s;
}

/* desktop mode */

@media all and (min-width: 750px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  .Name {
    font-size: 40px;
    color: whitesmoke;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 5px;
  }
  .navbar {
    width: 40%;
    margin-top: 50px;
    margin-right: 40px;
    display: flex;
    justify-content: flex-end;
  }

  .content {
    color: #fbfcfd;
    display: flex;
    justify-content: center;
    margin-top: 230px;
    margin-left: 40px;
    margin-right: 20px;
    flex-direction: column;
  }
  .content p {
    font-size: 23px;
    text-align: center;
    margin-top: 10px;
  }

  h1 {
    font-size: 70px;
    margin: 10px 0 10px;
    line-height: 80px;
    text-align: center;
  }
  /* projects section */
  .projects-header {
    display: flex;
    background-color: #052c3f;
    height: 60px;
    color: #fbfcfd;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }

  .projects div {
    border: 1px #ccc solid;
    padding: 10px;
  }

  .projects {
    display: flex;
    background-color: #05405e;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-direction: row;
    border-bottom: 1px whitesmoke solid;
  }
  .project1 {
    width: 30%;
    background-color: #1a1a1a;
    overflow: hidden;
  }
  .project1 img {
    width: 100%;
  }
  .project1 p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .buttons1 button {
    font-size: 20px;
    background-color: #05405e;
  }
  .buttons1 button a {
    color: whitesmoke;
    font-weight: 4;
    text-decoration: none;
  }

  .project1 h4,
  p {
    color: #fbfcfd;
  }
  .project2 {
    width: 30%;
    background-color: #1a1a1a;
    overflow: hidden;
  }
  .project2 img {
    width: 100%;
  }
  .project2 h4,
  p {
    color: #fbfcfd;
  }
  .project3 {
    width: 30%;
    background-color: #1a1a1a;
    overflow: hidden;
  }
  .project3 img {
    width: 100%;
  }
  .project3 h4,
  p {
    color: #fbfcfd;
  }
  /* about me section */
  .about-me-header {
    display: flex;
    background-color: #052c3f;
    height: 60px;
    color: #fbfcfd;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .about-me {
    display: flex;
    background-color: #05405e;
    justify-content: space-around;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-direction: row;
    color: whitesmoke;
  }
  .footer {
    display: flex;
    background-color: #05405e;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-direction: row;
    color: whitesmoke;
    border-bottom: 1px white solid;
  }
  .form {
    width: 30%;
    background-color: transparent;
    overflow: hidden;
    margin: 5%;
  }
  .socials {
    width: 30%;
    margin-top: 30px;
    list-style: none;
  }
}
